Source: ikiwiki-plugin-mathjax
Priority: optional
Section: perl
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Build-Depends:
 debhelper (>= 9)
Homepage: https://github.com/bk/ikiwiki-plugin-mathjax
Vcs-Browser: https://github.com/bk/ikiwiki-plugin-mathjax
Vcs-Git: https://github.com/bk/ikiwiki-plugin-mathjax
Standards-Version: 3.9.5

Package: libikiwiki-plugin-mathjax-perl
Architecture: all
Depends:
 ikiwiki,
 libhighlight-perl,
 libtext-multimarkdown-perl,
 ${misc:Depends},
 ${perl:Depends}
Description: plugin for ikiwiki to allow Math formatted with MathJax
 This plugin makes it easy to use MathJax in IkiWiki. Some features:
 .
  * No changes to page.tmpl are needed -- the MathJax JavaScript is only
    loaded on pages where it is needed.
 .
  * Both display ($$...$$ or \[...\]) and inline ($...$ or \(...\)) math are
    supported. Just take care that inline math must stay on one line in your
    markdown source. A single literal dollar sign in a line does not need to
    be escaped, but two do.
 .
 The MathJax configuration is currently not adjustable without editing the
 source of the module.
